<main class="container mt-5">
  <!-- Heading for the Sign Up page -->
  <h1 class="mb-4">Sign Up</h1>
  
  <!-- Form for user registration (Sign Up) -->
  <form id="signup-form" class="signup-form">
    <!-- Input field for the username -->
    <div class="mb-3">
      <!-- Label for the username input field -->
      <label for="username" class="form-label">Username:</label>
      <!-- Input field to enter the username -->
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Username"
      />
    </div>
    
    <!-- Input field for the email -->
    <div class="mb-3">
      <!-- Label for the email input field -->
      <label for="email" class="form-label">Email:</label>
      <!-- Input field to enter the email -->
      <input type="email" class="form-control" id="email" placeholder="Email" />
    </div>
    
    <!-- Input field for the password -->
    <div class="mb-3">
      <!-- Label for the password input field -->
      <label for="password" class="form-label">Password:</label>
      <!-- Input field to enter the password -->
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password must be over (8) Characters long"
      />
    </div>
    
    <!-- Button to submit the Sign Up form -->
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</main>

