.post-container {
  transition: background-color 0.3s;
}

.post-container:hover {
  border-right: 1em solid lightgray;
  background-color: darkgrey;
  border-radius: 0.5em;
}

body {
   background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


@media screen and (min-width: 760px) {
}

